<a href="https://colab.research.google.com/github/PriyanshuKumar5266/Calculator/blob/main/Unit_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from itertools import accumulate
nums = list(map(int, input().split()))
print(list(accumulate(nums)))

5 8 6 2

TypeError: 'list' object is not callable

a = 10
b = 20
a,b = b,a
print(a)
print(b)

In [ ]:
a = 10
b = 20
a,b = b,a
print(a)
print(b)

20
10

In [ ]:
thor_score=1000
hulk_score=2000
hulk_score,thor_score=hulk_score,thor_score
print(hulk_score)
print(thor_score)

2000
1000

In [ ]:
hulk_strength="1000"
p = int(hulk_strength)
print(p+200)

1200

1.loki gets input in seconds (as strings) : "3600" .convert it into an integer and then to hours. show final results as a float

2iron man recorded 7 hits out of 10 shots(both integers) .convert them into float and calculate accuracy percentage.

In [ ]:
hits,total_shots=7,10
acc = float(7/10)*100
print("Acc % is : ",acc)
print(f"Acc: {acc:.2f}%")

Acc % is :  70.0
Acc: 70.00%

In [ ]:
loki = "3600"
hours = int(loki)/3600
print("hour :", float(hours))

hour : 1.0

object **referencing**  1.  python variable hold references to objects,not the actual object themselves

In [ ]:
a =[1,2,3]
b = a
print(f"a :{a}")
b.append(4)
print(f"a :{a}")
print(f"b :{b}")

a :[1, 2, 3]
a :[1, 2, 3, 4]
b :[1, 2, 3, 4]

In [ ]:
a =[1,2,3]
b=a
b=[4,5,6]
print(f"a :{a}")
print(f"b :{b}")

a :[1, 2, 3]
b :[4, 5, 6]

reassign
**bold text**

reassigning a variable doesn't affect other variable referencing the same object unless explicitly updated.

In [ ]:
shield = ['vibranium','round']
copy_shield = shield
print("original shield is",shield)
print("Wolverine changes the materials of shield.")
copy_shield[0] ='adamantium'
print("New_shield",shield)

original shield is ['vibranium', 'round']
Wolverine changes the materials of shield.
New_shield ['adamantium', 'round']

removing a variable

In [ ]:
a =10
del(a)
print("a :",a)

NameError: name 'a' is not defined

In [ ]:
l = ['apple','banana','orange','grapes','pear']
del l[0]
print("list",l)
del l[2:4]
print("list after slicing",l)

list ['banana', 'orange', 'grapes', 'pear']
list after slicing ['banana', 'orange']

slicing

cal. average of the power level of your favorite avengers

In [ ]:
power_level = [90,80,88.0,98.0,100]
average = round(sum(power_level) / len(power_level),2)
print(average)

91.2

Interview Tip:-You must validate your input data and empty or incorrect datatype can collapsed even the strongest algorithm
Never understimate the input validation.

#String datatype

1. Ordered collection of characters arranged in a sequence.
2.Strings are arrays of bytes representes in Unicode characters.
3.No separate charactes. Character is length of one.
4.String is represented using ' ' or " " or '''  '''
5.It is immutable and starts with index 0.

In [ ]:
S1 = "This is a string"
print(S1)

This is a string

In [ ]:
S1 = "This is a string"
S2 = "This " + "is " + 'also ' + '''a ''' + """string """
S3 = "This" +" "+ "is " +" "+ 'also ' +' '+ '''a ''' + """string """
S4 ="This is an example of \
Single line string written across multiple lines."
print(S1)
print(S2)
print(S3)
print(S4)

This is a string
This is also a string
This is  also  a string
This is an example of Single line string written across multiple lines.

In [ ]:
hulk = "Hilk : SMASH!!\n"
print(hulk * 3)

Hilk : SMASH!!
Hilk : SMASH!!
Hilk : SMASH!!

String can be repeated by multiplying it by an integer.

In [ ]:
iron_man = "Avengers Assemble! #This is not a comment"
iron_man = "Mission ID : #100" #including (#) symbol into a string

In [ ]:
#length of a string
avenger = "IRONMAN"
avenger1 = "IRON MAN"
length_av2 = len(avenger1)
first_ch = avenger[0]
last_ch = avenger[-0] #0 and -0 are same in python

print(length_av2)
print(length_av2)
print(first_ch)
print(last_ch)
print(slicing)

NameError: name 'averager1' is not defined

In [ ]:
avenger = "IRON MAN"
slicing = avenger[4:7]
print(slicing)

 MA

In [ ]:
avenger = "IRON MAN"
reverse = avenger[8:0:-1]
for _ in avenger:
  print(_,end = '*')
print(reverse)

I*R*O*N* *M*A*N*NAM NOR

In [ ]:
avenger = "IRON MAN"
a = avenger[:6]
a1 = avenger[-6:]
print(a)
print(a1)

IRON M
ON MAN

write a python program to selct the part  (middle) of the sequences.This seq are the tokens of text eg.
token = ["IronMan","saves","the","world","again"]

slicing concept is useful in text preprocessing NLP
2. it is also used in feature extraction and seq model
eg.: RNN,transformer

In [ ]:
token = ["IronMan","saves","the","world","again"]
middle = token[len(token)//2 - (1 if len(token)%2==0 else 0) : len(token)//2 + 1]
print(middle)

['the']

bool data type

In [ ]:
print(10>9<5)

False

In [ ]:
print(10>9 or 9>8)

True

In [ ]:
# print(10>9 and 10<9)
# print( not 10>9 )
x =10
y =20
print(x^y)

30

In [ ]:
x = 10
y = 20
x = x ^ y
y = x ^ y
x = x ^ y
print("x is",x)
print("y is",y)

x is  20
y is  10

1.find the xor of number 10,12
2.check odd or even a = 4, b =7

In [ ]:
print(10^12)

6

In [ ]:
a = 4
b = 7
print("even" if (a^b)%2 == 0 else "odd")

odd

In [ ]:
l = [4,1,2,1,2]
a = 0
for i in l:
  a ^= i
print(a)

4

In [ ]:
print(True+False)

1

XOR - It is used in encryption

In [ ]:
print(bool([]))

False

bool is used to check emptyness

In [ ]:
print(any([1,2,3]))

True

In [ ]:
marks = [65,70,80,95]
print(any(m>=90 for m in marks))

True

#operator

In [ ]:
a = -10//3
b -= 5
c = 2
c += 4
d = 2
d *= 3

print(a)

25

1.exponential application - calculate area , growth of population
2.modulo application - cryptography
3. assciativity case - left to right

#Assignment Operator

In [ ]:
a = [1,2]
b = a
a +=[3]
print(b)
x = 5
x ^= 3
# print(x := 3)
print(x)
f = 5
print(f>>1)
print(f<<1)
print(x := 3)

[1, 2, 3]
6
2
10
3

In [ ]:
x = 10
y = 20
a = x or y
print(a)
print([] or "Hi")

10
Hi

In [ ]:
# Arithmetic Operators
a, b = 10, 3
print("Addition:", a + b)        # +
print("Subtraction:", a - b)     # -
print("Multiplication:", a * b)  # *
print("Division:", a / b)        # /
print("Floor Division:", a // b) # //
print("Modulus:", a % b)         # %
print("Exponentiation:", a ** b) # **

Addition: 13
Subtraction: 7
Multiplication: 30
Division: 3.3333333333333335
Floor Division: 3
Modulus: 1
Exponentiation: 1000

In [ ]:
# Comparison Operators
a = 5
b = 7
print("Equal:", a == b)          # ==
print("Not Equal:", a != b)      # !=
print("Greater Than:", a > b)    # >
print("Less Than:", a < b)       # <
print("Greater or Equal:", a >= b) # >=
print("Less or Equal:", a <= b)    # <=

Equal: False
Not Equal: True
Greater Than: False
Less Than: True
Greater or Equal: False
Less or Equal: True

In [ ]:
# Logical Operators
x, y = True, False
print("AND:", x and y)           # and
print("OR:", x or y)             # or
print("NOT:", not x)             # not

AND: False
OR: True
NOT: False

In [ ]:
# Bitwise Operators
a = 5
b = 7
print("Bitwise AND:", a & b)     # &
print("Bitwise OR:", a | b)      # |
print("Bitwise XOR:", a ^ b)     # ^
print("Bitwise NOT:", ~a)        # ~
print("Left Shift:", a << 1)     # <<
print("Right Shift:", a >> 1)    # >>

Bitwise AND: 5
Bitwise OR: 7
Bitwise XOR: 2
Bitwise NOT: -6
Left Shift: 10
Right Shift: 2

In [ ]:
# Assignment Operators
c = 5
c += 2   # c = c + 2
# c -= 1   # c = c - 1
# c *= 3   # c = c * 3
# c /= 2   # c = c / 2
# c %= 3   # c = c % 3
# c **= 2  # c = c ** 2
# c //= 2  # c = c // 2
print("Final value of c:", c)

Final value of c: 7

In [ ]:
# Ternary Operator
a = 5
b = 7
max_val = a if a > b else b
print("Max using ternary:", max_val)

Max using ternary: 7

In [ ]:
# Operator Overloading Example
class Point:
    def __init__(self, x): self.x = x
    def __add__(self, other): return Point(self.x + other.x)
    def __str__(self): return f"Point({self.x})"

p1, p2 = Point(4), Point(5)
print("Operator Overloading:", p1 + p2)  # + overloaded

Operator Overloading: Point(9)

In [ ]:
a = "NITIKA"
for i in a:
  (i.lower())

is return true when both objech have same memory location

In [ ]:
Avg = ['Thor','Hulk']
Avg1 = Avg
print(Avg1 is Avg)

True

In [ ]:

x = 253
y = 253
print(x is y) # bound to -5 to 256(sometimes)

True
True

In [ ]:
X = ['Apple','Banana','orange']
Y = ['Apple','Banana','orange']
Z = X
print(X is not Z)
print(X != Y)

False
False

In [ ]:
a = "banana"
print("nana" in a)

True

check if a given string only contains vowel

In [ ]:
s = "aeiou"
print(True if 'a'and 'e' and 'i' and 'o' and 'u' else False)

True

In [ ]:
s = input()
vowels = set("aeiouAEIOU")
for ch in s:
    print(f"{ch} is vowel" if ch in vowels else "Not Vowel")

abcd
a is vowel
Not Vowel
Not Vowel
Not Vowel

In [ ]:
try:
    s = input("Enter a string: ")
    vowels = set("aeiouAEIOU")
    for ch in s:
        print(f"{ch} is vowel" if ch in vowels else "Not Vowel")
except KeyboardInterrupt:
    print("\nInput interrupted by user.")

Enter a string: fdfgh
Not Vowel
Not Vowel
Not Vowel
Not Vowel
Not Vowel

In [ ]:
Infinity_stone = ["space","reality","power","Mind","time","soul"]  # list are mutable

In [ ]:
while True:
    value = int(input("Enter a number (0 to stop): "))
    if value == 0:
        break
    print(f"You entered: {value}")

#List Loop

In [ ]:
hero = ['Iron-man','Hulk','Captain-america']
for i in hero:
  print(i)
for i in range(len(hero)):
    print(i,hero[i])

In [ ]:
[print(i) for i in hero]

you need to filter  out the name of captain america that  contains the substring America

In [ ]:
hero = ['Iron-man','Hulk','Captain-america']
new_list = [i for i in hero if "America" in i]

In [ ]:
hero = ['Iron-man', 'Hulk', 'Captain-america']
hero = [i.replace("Hulk", "Calm_guy") for i in hero]
print(hero)

['Iron-man', 'Calm_guy', 'Captain-america']

Make the character in the list to uppercase

In [ ]:
hero = ['Iron-man', 'Hulk', 'Captain-america']
hero = [i.upper() for i in hero]
print(hero)

['IRON-MAN', 'HULK', 'CAPTAIN-AMERICA']

In [ ]:
hero = ['Iron-man', 'Hulk', 'Captain-america']
new_list = [X for X in range(len(hero))]

In [ ]:
list = list(map(input().split()))
prime_number = [i for i in range(0,25,1)]

In [ ]:
for num in range(2, 26):
    is_prime = True
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print(num, end=' ')

2 3 5 7 11 13 17 19 23

In [ ]:
num = list(map(int, input().split()))
for n in num:
    binary = bin(n)        # Converts each integer to binary
    print(binary[2:])

5 10 15
101
1010
1111

In [ ]:
from itertools import accumulate
nums = list(map(int, input().split()))
print(list(accumulate(nums)))

1 6 9 8

TypeError: 'list' object is not callable

In [ ]:
prime = list(map(int, input().split()))
is_prime = lambda n: n > 1 and all(n % i for i in range(2, int(n**0.5) + 1))
for n in prime: print(f"{n} is prime: {is_prime(n)}")

5
5 is prime: True

In [ ]:
n = int(input())
print(n > 1 and all(n % i for i in range(2, int(n**0.5) + 1)))

5
True

In [ ]:
rows, cols = 2, 2
grid = [[0 for _ in range(cols)] for _ in range(rows)]
print(grid)

[[0, 0], [0, 0]]

In [ ]:
n = int(input("No. of friends "))
friends = [input(f"Friend {i+1}: ") for i in range(n)]
print("Your friends:", friends)

No. of friends 2
Friend 1: ayun
Friend 2: harsh
Your friends: ['ayun', 'harsh']

In [ ]:
num = []
n = int(input())
for i in range(n):
    name = int(input())
    num.append(name)
    if 80 in num:
        num.remove(80)
print(num)

3
60
0
80
[60, 0]

In [ ]:
rows, cols = 2, 3
grid = [[int(input(f"Enter value for ({i},{j}): ")) for j in range(cols)] for i in range(rows)]
print("Your grid:")
for row in grid:
    print(row)

Enter value for (0,0): 1
Enter value for (0,1): 2
Enter value for (0,2): 3
Enter value for (1,0): 4
Enter value for (1,1): 5
Enter value for (1,2): 6
Your grid:
[1, 2, 3]
[4, 5, 6]

In [ ]:
car = ["Toyota", "BMW", "Honda"]
color = ["Red", "Blue", "Black"]
pairs = [(car, color) for car, color in zip(car, color)]
print(pairs)

[('Toyota', 'Red'), ('BMW', 'Blue'), ('Honda', 'Black')]

In [ ]:
a = [1,2,3,4,5]
a[2:] = [10]
print(a)

[1, 2, 10]

In [ ]:
s = input("Enter string: ")
for ch in s:
    if s.count(ch) == 1:
        print("First non-repeating:", ch)
        break
else:
    print("No non-repeating character")

Enter string: Priyanshup
First non-repeating: P

In [ ]:
n = int(input("Enter number: "))
print("Prime" if n > 1 and all(n % i != 0 for i in range(2, int(n**.5) + 1)) else "Not Prime")

Enter number: 9
Not Prime

In [ ]:
l = ['apple' , 'orange']
p = [i.upper() for i in l  ]
print(p)

['APPLE', 'ORANGE']

In [ ]:
nested = [[1,2,3], [4,5,6], [7,8,9]]
flat = [i for sublist in nested for i in sublist]
print(flat)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
boys= ["Ankit", "Ankit", "Harsh"]
girls = ["A", "B", "C"]
pairs = [(boys, girls) for boys, girls in zip(boys, girls)]
print(pairs)

[('Ankit', 'A'), ('Ankit', 'B'), ('Harsh', 'C')]

In [ ]:
car ={'brand' : 'Audi' , 'model' : 'q2025', 'year' : '2025'}
# print(len(car['brand']))
# car_keys = car.keys()
# car['fuel'] = 'petrol'
# car['year'] = 2024  #car.update({'year' : 2024})
# car['color'] = 'red' #car.update({'color': 'red'})

# print(car.pop('Audi')) #pop()expects a valid key to remove and return its value.
#print(car.popitem()) #remove last key-value pairs
# print(car)
# print(id(car))
# car_copy = car
# print(car_copy)
# print(id(car_copy))
# car_copy = car.copy()
# print(car_copy)
for x in car:
  print(car[x])
#{(k,v)for k,v in car.items()}

Audi
q2025
2024
petrol
red

In [ ]:
data = list((input("ENter number: ").split()))
num = dict(zip(data[::2], data[1::2]))
print(num)

ENter number: apple
{}

In [ ]:
fruits = ['apple','apple','banana','orange']
count = {}
for i in fruits:
  count[i] = count.get(i,0) +1
print(count)

{'apple': 2, 'banana': 1, 'orange': 1}
Audi
q2025
2024
petrol
red

In [ ]:
import copy
original = {
    "name": "Priyanshu",
    "skills": {"Python": "Advanced", "C++": "Expert"},
    "projects": ["Automation", "Web Design"]
}
copied = copy.deepcopy(original)  # ✅ Deep copy to avoid shared references
# Modify the copy
copied["skills"]["Python"] = "Beginner"
copied["projects"].append("AI")
# Original remains unchanged
print(original["skills"]["Python"])  # Output: Advanced
print(original["projects"])          # Output: ['Automation', 'Web Design']

Advanced
['Automation', 'Web Design']

In [ ]:
secA = {"s1": {'name': 'Harsh', 'roll': 35, 'year': 2024}}
print(secA.get('s1').get('roll'))

35

In [ ]:
students = ['Harsh', 'Kushagra', 'Ankit']
subjects = ['Math', 'Science', 'English']
nested_dict = {}
#nested_dict = {i: {j: 0 for j in subjects} for i in students}
# print(nested_dict)

for i in students:
    nested_dict[i] = {}
    for j in subjects:
        nested_dict[i][j] = 0  # Initialize score to 0
print(nested_dict)

{}
{'Harsh': {'Math': 0, 'Science': 0, 'English': 0}, 'Kushagra': {'Math': 0, 'Science': 0, 'English': 0}, 'Ankit': {'Math': 0, 'Science': 0, 'English': 0}}

In [ ]:
import random
students = ['Harsh', 'Kushagra', 'Ankit']
subjects = ['Math', 'Science', 'English']
nested_dict = {}
for student in students:
    nested_dict[student] = {}
    for subject in subjects:
        nested_dict[student][subject] = random.randint(40, 100)  # Assign random marks between 40 and 100
print(nested_dict)

{'Harsh': {'Math': 57, 'Science': 78, 'English': 74}, 'Kushagra': {'Math': 75, 'Science': 82, 'English': 90}, 'Ankit': {'Math': 60, 'Science': 86, 'English': 77}}