<a href="https://colab.research.google.com/github/PriyanshuKumar5266/Calculator/blob/main/Unit_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

a = 10
b = 20
a,b = b,a
print(a)
print(b)

In [ ]:
a = 10
b = 20
a,b = b,a
print(a)
print(b)

20
10

In [ ]:
thor_score=1000
hulk_score=2000
hulk_score,thor_score=hulk_score,thor_score
print(hulk_score)
print(thor_score)

2000
1000

In [ ]:
hulk_strength="1000"
p = int(hulk_strength)
print(p+200)

1200

1.loki gets input in seconds (as strings) : "3600" .convert it into an integer and then to hours. show final results as a float

2iron man recorded 7 hits out of 10 shots(both integers) .convert them into float and calculate accuracy percentage.

In [ ]:
hits,total_shots=7,10
acc = float(7/10)*100
print("Acc % is : ",acc)
print(f"Acc: {acc:.2f}%")

Acc % is :  70.0
Acc: 70.00%

In [ ]:
loki = "3600"
hours = int(loki)/3600
print("hour :", float(hours))

hour : 1.0

object **referencing**  1.  python variable hold references to objects,not the actual object themselves

In [ ]:
a =[1,2,3]
b = a
print(f"a :{a}")
b.append(4)
print(f"a :{a}")
print(f"b :{b}")

a :[1, 2, 3]
a :[1, 2, 3, 4]
b :[1, 2, 3, 4]

In [ ]:
a =[1,2,3]
b=a
b=[4,5,6]
print(f"a :{a}")
print(f"b :{b}")

a :[1, 2, 3]
b :[4, 5, 6]

reassign
**bold text**

reassigning a variable doesn't affect other variable referencing the same object unless explicitly updated.

In [ ]:
shield = ['vibranium','round']
copy_shield = shield
print("original shield is",shield)
print("Wolverine changes the materials of shield.")
copy_shield[0] ='adamantium'
print("New_shield",shield)

original shield is ['vibranium', 'round']
Wolverine changes the materials of shield.
New_shield ['adamantium', 'round']

removing a variable

In [ ]:
a =10
del(a)
print("a :",a)

NameError: name 'a' is not defined

In [ ]:
l = ['apple','banana','orange','grapes','pear']
del l[0]
print("list",l)
del l[2:4]
print("list after slicing",l)

list ['banana', 'orange', 'grapes', 'pear']
list after slicing ['banana', 'orange']

slicing

cal. average of the power level of your favorite avengers

In [ ]:
power_level = [90,80,88.0,98.0,100]
average = round(sum(power_level) / len(power_level),2)
print(average)

91.2

Interview Tip:-You must validate your input data and empty or incorrect datatype can collapsed even the strongest algorithm
Never understimate the input validation.

#String datatype

1. Ordered collection of characters arranged in a sequence.
2.Strings are arrays of bytes representes in Unicode characters.
3.No separate charactes. Character is length of one.
4.String is represented using ' ' or " " or '''  '''
5.It is immutable and starts with index 0.

In [ ]:
S1 = "This is a string"
print(S1)

This is a string

In [ ]:
S1 = "This is a string"
S2 = "This " + "is " + 'also ' + '''a ''' + """string """
S3 = "This" +" "+ "is " +" "+ 'also ' +' '+ '''a ''' + """string """
S4 ="This is an example of \
Single line string written across multiple lines."
print(S1)
print(S2)
print(S3)
print(S4)

This is a string
This is also a string
This is  also  a string
This is an example of Single line string written across multiple lines.

In [ ]:
hulk = "Hilk : SMASH!!\n"
print(hulk * 3)

Hilk : SMASH!!
Hilk : SMASH!!
Hilk : SMASH!!

String can be repeated by multiplying it by an integer.

In [ ]:
iron_man = "Avengers Assemble! #This is not a comment"
iron_man = "Mission ID : #100" #including (#) symbol into a string

In [ ]:
#length of a string
avenger = "IRONMAN"
avenger1 = "IRON MAN"
length_av2 = len(avenger1)
first_ch = avenger[0]
last_ch = avenger[-0] #0 and -0 are same in python

print(length_av2)
print(length_av2)
print(first_ch)
print(last_ch)
print(slicing)

NameError: name 'averager1' is not defined

In [ ]:
avenger = "IRON MAN"
slicing = avenger[4:7]
print(slicing)

 MA

In [ ]:
avenger = "IRON MAN"
reverse = avenger[8:0:-1]
for _ in avenger:
  print(_,end = '*')
print(reverse)

I*R*O*N* *M*A*N*NAM NOR

In [ ]:
avenger = "IRON MAN"
a = avenger[:6]
a1 = avenger[-6:]
print(a)
print(a1)

IRON M
ON MAN

write a python program to selct the part  (middle) of the sequences.This seq are the tokens of text eg.
token = ["IronMan","saves","the","world","again"]

slicing concept is useful in text preprocessing NLP
2. it is also used in feature extraction and seq model
eg.: RNN,transformer

In [ ]:
token = ["IronMan","saves","the","world","again"]
middle = token[len(token)//2 - (1 if len(token)%2==0 else 0) : len(token)//2 + 1]
print(middle)

['the']

bool data type

In [ ]:
print(10>9<5)

False

In [ ]:
print(10>9 or 9>8)

True

In [ ]:
# print(10>9 and 10<9)
# print( not 10>9 )
x =10
y =20
print(x^y)

30

In [ ]:
x = 10
y = 20
x = x ^ y
y = x ^ y
x = x ^ y
print("x is",x)
print("y is",y)

x is  20
y is  10

1.find the xor of number 10,12
2.check odd or even a = 4, b =7

In [ ]:
print(10^12)

6

In [1]:
a = 4
b = 7
print("even" if (a^b)%2 == 0 else "odd")

odd

In [ ]:
l = [4,1,2,1,2]
a = 0
for i in l:
  a ^= i
print(a)

4

In [ ]:
print(True+False)

1

XOR - It is used in encryption

In [ ]:
print(bool([]))

False

bool is used to check emptyness

In [ ]:
print(any([1,2,3]))

True

In [ ]:
marks = [65,70,80,95]
print(any(m>=90 for m in marks))

True